@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 33% 96%;
    --foreground: 24 10% 20%;

    --card: 38 33% 92%;
    --card-foreground: 24 10% 20%;

    --popover: 38 33% 96%;
    --popover-foreground: 24 10% 20%;

    --primary: 142 50% 40%;
    --primary-foreground: 142 20% 95%;

    --secondary: 142 20% 85%;
    --secondary-foreground: 142 50% 40%;

    --muted: 142 15% 90%;
    --muted-foreground: 24 5% 45%;

    --accent: 142 40% 60%;
    --accent-foreground: 24 10% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 142 15% 80%;
    --input: 142 15% 80%;
    --ring: 142 50% 40%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='hsl(var(--primary) / 0.1)'%3e%3cpath d='M8 20c0-4.42 3.58-8 8-8s8 3.58 8 8c0 2.21-1.79 4-4 4-1.29 0-2.45-.61-3.21-1.57C15.82 23.39 15 24.62 15 26c0 2.21-1.79 4-4 4s-4-1.79-4-4c0-1.38.69-2.61 1.79-3.37C7.81 22.45 7 21.29 7 20zm8-8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zM2 12c0 4.42 3.58 8 8 8s8-3.58 8-8c0-2.21-1.79-4-4-4-1.29 0-2.45.61-3.21 1.57C9.82 8.61 9 7.38 9 6c0-2.21-1.79-4-4-4S1 3.79 1 6c0 1.38.69 2.61 1.79 3.37C1.81 9.55 1 10.71 1 12z'/%3e%3c/svg%3e");
  }
}
