@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 97%;
    --foreground: 222 84% 10%;

    --card: 222 47% 97%;
    --card-foreground: 222 84% 10%;

    --popover: 222 47% 97%;
    --popover-foreground: 222 84% 10%;

    --primary: 222 47% 31%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 91%;
    --secondary-foreground: 222 47% 31%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 20% 45%;

    --accent: 210 40% 94%;
    --accent-foreground: 222 47% 21%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 47% 31%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 80% 6%;
    --foreground: 210 40% 98%;

    --card: 222 74% 9%;
    --card-foreground: 210 40% 98%;

    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 80% 6%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 14%;
    --input: 217 33% 14%;
    --ring: 213 27% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  .has-task {
    position: relative;
  }
  
  .has-task::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: hsl(var(--primary) / 0.8);
  }
  
  .dark .has-task::after {
     background-color: hsl(var(--primary));
  }
  
   .day-selected.has-task::after {
     background-color: hsl(var(--primary-foreground) / 0.9);
  }
}
